html, body {
    width: 100%;
    height: 100%;
}
body {
    background: #9F303E; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #9F303E, #970e1e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #9F303E, #970e1e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #9F303E, #970e1e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #9F303E, #970e1e); /* Standard syntax */
    color: #fff;
    font-family: "mrs-eaves-xl-serif-narrow", sans-serif;
}

.wrapper {
    margin: 200px auto 0;
    width: 600px;
    text-align: center;
}

h1,h2,h3,p { margin-top: 0; }

h1 { font-size: 75px; text-transform: lowercase; margin-bottom: 15px; letter-spacing: 3px; }
p { letter-spacing: 10px; text-transform: uppercase; }